<%- include('includes/header.ejs') %>
    <h1>Сайт о Петре</h1>

    <p>Я Мирошников Пётр Иванович...</p>
    <a href="https://vkvideo.ru/video213350662_168034836">Видео</a>
<%- include('includes/footer.ejs') %>