<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Заппланированные дела</h1>
    <% for (let item of todos) { %>
        <h2><a href="/<%= item._id %>"><%= item.title %></a></h2>
   <% } %>
</body>
</html>